.social{
    background-color: #fff;
    text-align: center;
    .footer-content{
        display: block;
        ul{
            justify-content: center;
            list-style: none;
            li{
                margin-inline:16px;
                font-size: 2.2rem;
                
            }
        }
        p{
            font-size: 1.2rem;
            line-height: 4.1rem;
            letter-spacing: -0.17px;
        }
    }
}

