
@media(min-width: 992px){
    .about-us-lead{
    padding: 283px 450px;
}
}

.abou-us{
        margin-top: 102px;
        margin-bottom: 143px;
    .about-us-content{
        h3{
            text-transform: uppercase;
            font-size: 4.4rem;
            line-height: 5rem;
            letter-spacing: normal;
            margin-bottom: 30px;
        }
        p{
            font-weight: 300;
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: nomal;
            margin-bottom: 29px;
        }
        img{
            margin-bottom: 66px;
        }
    }
    .abou-us-sidebar{
        .input-group{
            margin-bottom:43px;
            input{
                font-family: Bodoni Book;
                font-style: italic;
                font-size: 2rem;
                border-right: none;
                padding: 15px 20px;
            }
            :focus{
                box-shadow: none;
            }
            .input-group-text{
                padding-right: 20px;
                img{
                    width: 2rem;
                }
            }
        }
        .news-item .news-item-deta{
            background-color: #fff;
            position: relative;
            margin-top: -50px;
            width: 85%;
            padding: 22px 18px 37px 19px;
            text-align: center;
            text-transform: uppercase;

            p{
                margin-bottom: 17px;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1;
                font-family: Bodoni Book;
                font-style: italic;

            }
            a{
                text-decoration: none;
                color: inherit;
                transition: 0.3s linear;
            }

            :hover{
                color: #D0B6B6;
            }
            h3{
                font-size: 16px;
                line-height: 24px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;

            }
        }
    }
}