.testimonials{
    position: relative;
    margin-bottom: 67px;
    .test-wrap{
        border: 1px solid #ECD9D9;
        margin-top: 54px;
        justify-content: space-around;
        img{
            display: block;
        }
        h5{
            text-transform: uppercase;
            font-size: 3rem;
            line-height: 2.7rem;
            letter-spacing: normal;
            margin-bottom: 3.5rem;
            margin-top: 3.1rem;
        }
        p{
            font-family: "Lato", sans-serif ;
            font-weight: 300;
        }
    }
    .carousel-indicators [data-bs-target] {
        position: relative!important;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        border:1px solid #ECD9D9;
        background-color: transparent;
    }
    .carousel-indicators [data-bs-target].active{
        background-color: #ECD9D9;
    }
    .carousel-inner{
        color: #fff;
    }

}
